@font-face{
	font-family: 'homa-f';
	src: url('../ttf/homa.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'elham-f';
	src: url('../ttf/elham.ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: 'koodak-f';
	src: url('../ttf/koodak.ttf');
	font-weight: bold;
	font-style: normal;
}

@media only screen and(max-width:300px){
	body {
		font: 10px -apple-system, "koodak-f", "homa-f", Arial, sans-serif;
		background-color: #fff;
		font-weight:400;
	}
}

@media only screen and (max-width:800px){
	body {
		font: 15px -apple-system, "koodak-f", "homa-f", Arial, sans-serif;
		background-color: #fff;
		font-weight:400;
	}
}
@media only screen and (max-width:1200px){
	body {
		font: 20px -apple-system, "koodak-f", "homa-f", Arial, sans-serif;
		background-color: #fff;
		font-weight:400;
	}
}



h1, h2, h3, h4, h5, h6{
	color:#9e2a2b;
}
p {
	color:#14213d;
}

a{
	color:#ef476f;
	text-decoration: none;
}
a:hover{
	color:#ef476f;
	text-decoration: underline;
}

header{
	background-color: #d8f3dc;
	width: 80%;
	min-width:80%;
	max-width:auto;
	
	height: auto;
	max-height:auto;
	min-height:auto;
	
	padding: 2%;
	padding-bottom: 2%;
	padding-top: 2%;
	margin: 2% auto 2% auto;
	border-radius:25px;
}

.img{

	height:inherit;
	width: inherit;

}

.side{
	background-color:#b7e4c7;
	width: auto;
	min-width:95%;	
	height:inherit;
	min-height:inherit;
	padding: 2%;
	margin-bottom:2%;
	border-radius:25px;
		
}
.contents{
	background-color: #d8f3dc;
	width: 80%;
	padding: 2%;
	border-radius:25px;
	margin: auto;
	margin-top:1%;
	margin-bottom:1%;
	overflow:auto;
}

.content{
	background-color:#b7e4c7;
	width: 44%;
	padding:2%;
	margin-left:2%;
	margin-bottom: 2%;
	float:right;
	border-radius:25px;
}
img{
	border-radius:25px;
	float:left;
}
